@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-1: hsl(26, 100%, 55%);
    --color-2: hsl(25, 100%, 94%);
    --color-3: hsl(220, 13%, 13%);
    --color-4: hsl(219, 9%, 45%);
    --color-5: hsl(220, 14%, 75%);
    --color-6: hsl(223, 64%, 98%);
    --color-7: hsl(0, 0%, 100%);
    --color-8: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

.light-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}

.lb-close {
    position: absolute;
    z-index: 5;
    top: 7%;
    right: 28%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*slides*/

.slider-l {
    width: 450px;
    height: 500px;
    overflow: hidden;
}

.slides-l {
    width: 400%;
    height: 380px;
    display: flex;
}

.slides-l input {
    display: none;
}

.slide-l {
    width: 25%;
    position: relative;
}

.slide-l img {
    max-width: 100%;
    border-radius: 8px;
}

.manual-navigation-l {
    position: absolute;
    width: 450px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn-l {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn-l:not(:last-child) {
    margin-right: 20px;
}


#r1:checked ~ .first-l {
    margin-left: 0;
}

#r2:checked ~ .first-l {
    margin-left: -25%;
}

#r3:checked ~ .first-l {
    margin-left: -50%;
}

#r4:checked ~ .first-l {
    margin-left: -75%;
}

.navigation-auto-l div {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto-l img {
    width: 95px;
    height: 80px;
    border-radius: 8px;
}

.navigation-auto-l {
    width: 450px;
    position: absolute;
    position: absolute;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.navigation-auto-l div:not(:last-child) {
    margin-right: 20px;
}

#r1:checked ~ .navigation-auto-l .auto-btn-l1 img{
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#r2:checked ~ .navigation-auto-l .auto-btn-l2 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#r3:checked ~ .navigation-auto-l .auto-btn-l3 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#r4:checked ~ .navigation-auto-l .auto-btn-l4 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

/*--------------------------------*/

/*classe js*/ 

.open-lb {
    display: flex;
}

/*---------------------------------*/