@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-1: hsl(26, 100%, 55%);
    --color-2: hsl(25, 100%, 94%);
    --color-3: hsl(220, 13%, 13%);
    --color-4: hsl(219, 9%, 45%);
    --color-5: hsl(220, 14%, 75%);
    --color-6: hsl(223, 64%, 98%);
    --color-7: hsl(0, 0%, 100%);
    --color-8: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

header {
    position: relative;
}

.nav-main {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-5);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-logo ul {
    display: flex;
    list-style: none;
}

.nav-logo ul li:not(:last-child) {
    margin-right: 20px;
}

.nav-logo ul li a {
    text-decoration: none;
    color: var(--color-4);
}

.nav-logo ul li a:hover {
    text-decoration: underline;
}

.nav-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-btn button {
    border: none;
    background-color: var(--color-7);
    cursor: pointer;
}

.avatar {
    width: 40px;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid var(--color-1);
    border-radius: 50px;
}

.mobile-cont {
    display: none;
}

/*sections*/

section.product {
    padding: 40px 0 0 20px;
}

.product-cont {
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.description-p {
    width: 380px;
}

.description-p h5 {
    color: var(--color-1);
}

.description-p h2 {
    font-size: 30px;
    margin: 20px 0;
}

.description-p p {
    font-size: 12px;
    color: var(--color-4);
    margin-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.bg {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

.add-cont {
    display: flex;
    gap: 60px;
}

.minus-plus {
    display: flex;
    align-items: center;
}

.minus-plus button {
    border: none;
    background-color: var(--color-7);
    cursor: pointer;
}

.minus-plus p {
    margin: 0 20px;
}

.btn-add button {
    width: 180px;
    height: 40px;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    color: var(--color-7);
    cursor: pointer;
}

.btn-add button:hover {
    opacity: 0.6;
}

.btn-add button img {
    margin-right: 10px;
}

/*slides*/

.manual-navigation-m {
    display: none;
}

.navigation-auto-m {
    display: none;
}

.slider {
    width: 380px;
    height: 380px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 380px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    cursor: pointer;
}

.slide img {
    max-width: 100%;
    border-radius: 8px;
}

.manual-navigation {
    position: absolute;
    width: 380px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child) {
    margin-right: 20px;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto img {
    width: 80px;
    height: 75px;
    border-radius: 8px;
}

.navigation-auto {
    width: 380px;
    position: absolute;
    position: absolute;
    margin-top: 403px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 img{
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#radio2:checked ~ .navigation-auto .auto-btn2 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#radio3:checked ~ .navigation-auto .auto-btn3 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

#radio4:checked ~ .navigation-auto .auto-btn4 img {
    opacity: 0.6;
    border: 3px solid var(--color-1);
}

/*--------------------------------*/

.slider-m{
    padding-top: 50px;
    display: none;
}

/*----------------------------------------*/

@media(max-width: 768px) {

    .slider {
        display: none;
    }

    .slider-m{
        padding-top: 50px;
        display: block;
    }

    /*slider mobile*/

    .slider-m-cont {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .gallery-wrapper {
        overflow: hidden;
    }

    .gallery {
        width: 400%;
        display: flex;
    }

    .arrow-left, .arrow-rigth {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 50%;
        right: auto;
        bottom: 0;
        border-radius: 50px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .arrow-rigth {
        left: auto;
        right: 10px;
    }

    .gallery-img {
        width: 25%;
    }

    .item {
        max-width: 100%;
    }

/*--------------------------------*/

section.product {
    padding: 0px 0 0 0px;
}

.product-cont {
    gap: 10px;
    flex-direction: column;
}

.description-p {
    width: 100%;
    padding: 20px;
}

.add-cont {
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;
}

.minus-plus {
    justify-content: space-between;
    padding: 0 20px;
}

.btn-add {
    margin: 10px 0 0 30px;
}

.btn-add button {
    width: 90%;
}


}
